body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: "center";
  justify-content: space-between;
}

.nav-links-div {
  display: inline;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  user-select: none;
  display: inline !important;
}

.login-outer {
  height: 90vh;
}

.login-inner {
  height: inherit;
  align-items: center;
  flex: 1;
  display: flex;
  justify-content: center;
}

.my-login-card {
  width: 50%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .my-login-card {
    width: 80%;
  }
}
